*.pyc
.vscode
output*
data
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
ckpts
*.ply
*.pt
# *.png
*.jpg
*.jpeg
*.mp4
.docker-build-cache/*

video_diffusion/ckpts/
video_diffusion/outputs/
video_diffusion/annos/
video_diffusion/src/
video_diffusion/logs/
!video_diffusion/vwm/data/

configs/*
submodules_pip/*
submodules/diff_rasterization/*
submodules/diff-point-rasterization/*
submodules/diff-point-rasterization/